*{
    padding: 0%;
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
}

ul{
    list-style: none;
    background: #22438c;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 100%;
    background: #22438c;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
background: #112c66;
}
ul li:hover ul.dropdown{
    display: block;
}

body{
    margin: 0cm;
    background: rgb(185, 225, 243);
    text-align: center;
}

h1{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1cm;
    font-weight: bolder;
}

h2{
    text-align: left;
    color: rgb(97, 12, 235);
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.7cm;
    font-weight: bolder;
}
p{
    text-align: left;
    color: rgb(97, 12, 235);
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.5cm;
}

a{
    color: rgb(51, 0, 255);
}

table, th, td {
    color: blue;
    margin: 0 auto;
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
    font-size: 0.8cm;
    font-family: 'Times New Roman';
}

table2, th, td {
    color: blue;
    margin: 0 auto;
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
    font-size: 0.8cm;
    font-family: 'Times New Roman';
}

th{
    background-color: #1796d1;
    font-weight: bold;
    
    
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}